/* Styling for the text block section */
.text-block .container {
  max-width: 1050px;
}

.text-block-heading {
  margin: 20px 0;
  color: #01acc8;
}

.text-block-subheading {
  margin-bottom: 30px;
}

.btn-textblock-lite {
  margin-top: 30px;
}

@media (max-width: 768px) {
  .btn-textblock-lite {
    margin-top: 20px;
  }
}
